.curso {
  display: flex;
  justify-content: center;
  width: 200px;
  border: 4px solid #888;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0px;
  cursor: pointer;
}

.curso:hover {
  background-color: rgb(39, 102, 86);
}

.c1 {
  background-color: #ccc;
  color: #444;
}

.c2 {
  background-color: #444;
  color: #ccc;
}

.destaque {
  background-color: #800 !important;
  color: rgb(0, 0, 0);
  border-color: darkgreen !important;
}

